# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Streamlit cache
.streamlit/

# Environments
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Excel exports
*.xlsx
